:root {
  --background-color: rgba(236, 233, 240, 0.95);
}

h1.title {
    font-size: calc(2.325rem + 0.9vw);
}


h2.anchored::before {
    content: "Task ";
  }

h2.anchored {
  border-bottom: 0px;
  background-color: rgb(176, 205, 236);
  padding-bottom: 2px;
  margin-bottom: 0px;
  padding-left: 10px;
}


.header-section-number {
  color: black;  
}


.sidebar nav[role=doc-toc] ul>li>ul>li>a {
	padding-left: 1.2em;
}

[id^=toc-section]::before {
    content: "Task ";
 }

.sidebar nav[role=doc-toc] ul>li>ul>li>ul>li>a {
	padding-left: 1.2em;	
}


.cell-output-stdout {
    background-color: rgb(255, 245, 231);
}

.cell-output-display::after {
    box-sizing: content-box;
}

.theorem-title::after 
  {
    content: '. ';
    font-weight: bold;
    margin-left: -3pt;
    margin-right: 6pt;
  }

h1 .header-section-number::after  {
    content: '. ';
  }

.solution.proof {
  background-color: rgb(232, 245, 247);
}

.unnumbered.anchored {
  color:rgb(8, 71, 12);  
}

.task {
  border-style: solid;
  border-color: rgb(176, 205, 236);
  border-width: 2px;
  border-top: 0px;
  padding: 10px;
}



.sourceCode.cell-code {
  border-left: 4px solid rgb(8, 71, 12);
  margin-top: -10px;
}

.cell-output.cell-output-stdout{
  border-left: 4px double rgb(71, 8, 24);
  padding-left: 5px;
}

.img .cell-output.cell-output-display{
  border-left: 0px;
}

.img .cell-output-display {
  background-color: white;
}

.remark.proof {
  background: lightcyan;
}

.topic {
  color: rgb(8, 71, 12);
  opacity: .9;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 600;
  font-size: calc(1.27rem + 0.24vw);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  background-color: var(--background-color);
}

div.sidebar.sidebar-navigation.rollup.quarto-sidebar-toggle-contents, nav.sidebar.sidebar-navigation:not(.rollup) {
  background-color: var(--background-color);
}

